* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


/* nosotros - cocina */
.cocina {
    background-color: rgba(57, 134, 38, 0.26);
    font-family: "Roboto", sans-serif;
    background-size: cover;
    padding: 30px;
    display: flex;
    gap: 100px;
    overflow: auto;
    justify-content: center;


}

.cocina__titulo {
    background-color: rgba(127, 255, 212, 0.212);
    padding: 15px;
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    overflow: auto;
    justify-content: center;


}

.tarjeta__titulo {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto Condensed", sans-serif;
}

.tarjeta {
    background-color: burlywood;
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 520px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;

}

.tarjeta__descrp {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
}

.contenedor-nosotros {
    height: 85vh;
    background-color: antiquewhite;
    font-family: "Roboto", sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}


.titulo-nosotros {
    font-size: 2rem;
}

.info-nosotros {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

/* menú */

.contenedor-menu {
    height: 70vh;
    display: flex;
    gap: 20px;
    background-color: rgba(127, 255, 212, 0.212);
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
}

.plato {
    border: 2px solid black;
    background-color: antiquewhite;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.menu-title {
    background-color: rgba(127, 255, 212, 0.212);
    padding-top: 30px;
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    overflow: auto;
    justify-content: center;
}

.contenedor-contacto {
    height: 70vh;
    background-color: rgb(245, 237, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    font-family: "Roboto", sans-serif;
}

form {
    border: 1px solid black;
    padding: 20px;
}

form div {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.botones {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 45px;
}

.boton-enviar {
    padding: 10px 15px;
}

.boton-limpiar {
    padding: 10px 15px;
}