

@import "utils/variables";
@import "base/reset";
@import "pages/index";
@import "pages/menu";
@import "pages/nosotros";
@import "pages/contacto";
@import "pages/reservas";
@import "components/botones";
@import "components/tarjetas";
@import "components/carousel";
@import "layouts/footer";
@import "layouts/forms";
@import "layouts/header";

@media (max-width: 815px) {
    .titulo-nosotros {
        padding-top: 60px;
    }
    .formularioReservas {
        width: auto;


    }
}

h2 {
    color: #474544;
    padding-top: 20px;
    font-size: 32px;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
}
