.contenedor-main {
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: $sections;
    align-items: center;
    flex-wrap: wrap;
}

.titulo-main {
    color: #474544;
    font-size: 2.5rem;
    letter-spacing: 15px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.main-info {
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
    .titulo-main {
        letter-spacing: 5px;
    }

}
