.contenedor-main {
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color:#e3d5ca;
    align-items: center;
    flex-wrap: wrap;
}

.main-info {
    display: flex;
    justify-content: center;
    text-align: center;
}

