.contenedor-menu {
    height: auto;
    background-color: $sections;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.menu-title {
    background-color: $sections;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    color: #474544;
    font-size: 35px;
    letter-spacing: 15px;
    text-transform: uppercase;
}