.contenedor-nosotros {
    height: 75vh;
    background-color: $sections;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
    justify-items: center;
    align-items: center;

}

.titulo-nosotros {
    font-size: 2rem;
    grid-column: 1/2;
    color: #474544;
    letter-spacing: 10px;
    text-transform: uppercase;
}

iframe {
    height: 365px;
    width: 713px;
    box-shadow: 2px 2px 10px;
}

.ubic-nosotros {
    grid-column: 2;
    grid-row: 1;
    font-size: 2rem;
    color: #474544;
    letter-spacing: 10px;
    text-transform: uppercase;
}


.info-nosotros {
    grid-column: 1/2;
    text-align: center;
    font-size: 1.5rem;
    padding-left: 20px;
}

.cocina {
    background-color: $sections;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 80vh;
}

.cocina__titulo {
    background-color:#82b1bb7c;
    text-align: center;
    font-size: 2.5rem;
    color: #474544;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 40px;
}

@media screen and (max-width: 800px) {
    .cocina {
        height: 750px;
        display: flex;
        overflow: scroll;
        overflow-y: hidden;
        gap: 20px;
    }

    .contenedor-nosotros {
        padding: 20px;
        padding-bottom: 40px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .mapa-nosotros {
        width: 375px;
        height: 450px;
    }

    iframe {
    height: 400px;
    width: 355px;
    }

    .ubic-nosotros {
        text-align: center;
        height: 10vh;
    }

    .info-nosotros {
        padding-top: 5px;
        padding-bottom: 30px;
    }

    .titulo-nosotros {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

}