.contenedor-nosotros {
    height: 120vh;
    background-color:#e3d5ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.titulo-nosotros {
    font-size: 2rem;
}

.info-nosotros {
    text-align: center;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
}




.cocina {
    background-color: #e3d5ca;
    background-size: cover;
    display: flex;
    gap: 300px;
    overflow: auto;
    justify-content: center;
    padding: 20px;

}

.cocina__titulo {
    background-color:#d6ccc2;
    padding: 15px;
    text-align: center;
    font-size: 3rem;
    display: flex;
    overflow: auto;
    justify-content: center;


}