.contenedor-reservas {
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: $sections;
    padding-top: 40px;
    padding-bottom: 40px;
}

.img-reservas {
    width: 75%;
}

.titulo-reservas {
    grid-column: 1/3;
    color: #474544;
    font-size: 35px;
    letter-spacing: 20px;
    text-transform: uppercase;

}

@media screen and (max-width: 800px) {
    .contenedor-reservas {
        width: 100%;
    }

    .titulo-reservas {
        width: auto;
        color: #474544;
        font-size: 25px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .img-reservas {
        display: none;
    }
}

