.contenedor-reservas {
    height: 100vh;
    background-color:#e3d5ca;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

