.butn {
    background-color: brown;
    border: 1px solid black;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
        background-color: burlywood;
        color: black;
    }
}

#botonEnviar {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: all 0.3s;
}

#botonEnviar:hover {
    background: #474544;
    color: #F2F3EB;
}

.boton-reserva {
    grid-column: 1/3
}