.plato {
    background-color: antiquewhite;
    width: 300px;
    height: 450px;
    border-radius: 3px;
    box-shadow: 2px 2px 40px;
    padding: 15px;
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.plato__img {
    height: 270px;
    width: 270px;
    box-shadow: 1px 1px 40px;
}

.plato__title {
    font-size: 1.5rem;
    height: 8vh;
}

.plato__precio {
    height: 8vh;
    font-size: 1.5rem;
    padding-top: 10px;
}

@media screen and (max-width: 800px) {

    .contenedor-menu {
        height: auto;
        padding: 20px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-title {
        color: #474544;
        font-size: 2.5rem;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
    }

    .plato__img {
        height: 270px;
        width: 270px;
    }

}


.tarjeta {
    background-color: rgb(172, 171, 108);
    border: 2px solid rgb(255, 255, 255);
    width: 325px;
    height: 650px;
    border-radius: 3px;
    padding: 20px;
    gap: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 30px;


    .tarjeta__titulo {
        color: rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
        font-size: 2rem;
    
    

        .tarjeta__descrp {
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 1rem;
            padding: 5px;
        }
    } 
}
.tarjeta__img {
    height: 350px;
    box-shadow: 1px 1px 40px;
}

@media screen and (max-width: 800px) {
    .tarjeta__titulo {
        color: rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
        font-size: 2rem;
    }
        .tarjeta {
            background-color: rgb(172, 171, 108);
            border: 2px solid rgb(255, 255, 255);
            width: 325px;
            height: 650px;
            border-radius: 3px;
            padding: 20px;
            margin: 20px;
            gap: 8px;
            text-align: center;
            display: flex;
            flex-direction: column;
    
        }
    
            .tarjeta__descrp {
                color: rgb(255, 255, 255);
                text-align: center;
                font-size: 1rem;
                padding: 0px;
            }
}