form {

    div {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}

.formularioReservas {
height: auto;
width: auto;
}


